label.user {
	border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #999;
    border-radius: 0;

    -webkit-text-fill-color: #333;
    padding: 0 0 3px 0;
    width: 150px;
    font-size: 18px;
}
label.password {
	border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #999;
    border-radius: 0;

    -webkit-text-fill-color: #333;
    padding: 0 0 3px 0;
    width: 150px;
    font-size: 18px;
}